{% extends 'base.html' %}
{% block title %}About Aquiles Carattino from Python for the Lab{% endblock %}
{% block meta_header %}
<meta name="description"
      content="Aquiles Carattino is the founder and responsible person behind Python for the Lab. All you want to know is here">
<link rel="canonical" href="{{ SITEURL }}/about">
{% endblock %}

{% block body %}
<header class="relative bg-red-500 md:h-32 lg:flex h-16">
  <div class="lg:flex-col lg:lg:w-[880px] lg:ml-16">
    <nav class="lg:pr-8 w-full lg:pt-4">
      <div class="flex p-3 items-center justify-between">
        <a class="flex-none" href="{{ SITEURL }}">
          <img id="site-logo" class="h-12"
               src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/logo-dark.svg"/>
        </a>
        <div id="menu_sm"
             class="pr-0 pl-4 z-50 grow hidden lg:block">
          {% include "nav_menu.html" %}
        </div>
        <div class="">
          <button id="menu-button" class="z-50 border-1 border-red-500 lg:hidden">
            <img id="hamburger" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/hamburger.svg"
                 class="h-8 w-8"/>
          </button>
        </div>
      </div>
      <div id="menu"
           class="pr-0 pb-8 mx-0 pt-8 pl-12 basis-full grow bg-white z-50 min-w-full hidden drop-shadow-lg border-b-8 border-b-red-700">
        {% include "index_wide_menu.html" %}
      </div>
    </nav>
    <div class="md:flex text-gray-200 lg:min-w-full lg:pt-4 pb-8">
    </div>
  </div>
  <div class="hidden lg:block lg:w-72 ml-1 pl-2 mr-2 pt-4 w-72">
    <div class="mb-8 shadow-2xl">
      <form action="#" class="w-full pr-8 pt-4 text-xs">
        <label for="search" class="relative block">
          <img class="absolute w-4 h-4 top-1/2 -translate-y-1/2 left-3"
               src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/search.svg">
          <input id="search" data-stork="sitesearch" type="text"
                 class="text-gray-800 pl-10 bg-white py-2 placeholder-gray-500 w-full border border-gray-600"
                 placeholder="Type to Search">
        </label>
      </form>
      <div data-stork="sitesearch-output"></div>
    </div>
  </div>
</header>

<div class="mt-4 md:mt-16 max-w-6xl mx-auto md:min-h-screen md:pb-32 pb-8">
  <div class="md:grid md:grid-cols-2">
      <div class="">
        <h1 class="text-gray-800 font-bold pb-12  text-2xl lg:text-6xl font-serif">Aquiles Carattino</h1>
        <p class="text-gray-800 leading-relaxed mb-1 lg:mb-6 lg:text-2xl font-sans">
          I am a physicist, an entrepreneur, and a Python developer.
        </p>
        <p class="text-gray-800 leading-relaxed mb-1 lg:mb-4 lg:text-xl font-sans">
          I built this website to help scientists in their path to fully control scientific instrumentation.<br />
          From microscopes to test benches, I have helped lots of people through my <a class="text-teal-700 hover:text-teal-600 underline underline-offset-1" href="/courses">courses</a> and
          through <a class="text-teal-700 hover:text-teal-600 underline underline-offset-1" href="/hire-me">consultancy projects</a>.
        </p>
        <p class="text-gray-800 leading-relaxed mb-1 lg:mb-4 lg:text-xl font-sans">
          I started developing Python programs while doing my PhD. I quickly learned that automation would open a fascinating world of experimentation. <br />
          Dealing with instruments, data, user interfaces was all daunting at the beginning. Endless hours of study, trial, and error, finally paved the way
          to developing a core set of best practices that I have been predicating ever since.
        </p>
        <p class="text-gray-800 leading-relaxed mb-1 lg:mb-4 lg:text-xl font-sans">
          I organize <a href="/courses" class="underline text-teal-700 hover:text-teal-600">Python workshops for scientists</a>, and <a href="/hire-me" class="underline text-teal-700 hover:text-teal-600">help companies</a> achieve their goals by embracing new paradigms. <br/>
          My goal is to help people avoid mistakes, and to develop a set of standards (both programs and practices) that enable the exchange of ideas and
          the joint development of solutions.
        </p>
        <p class="text-gray-800 leading-relaxed mb-1 lg:mb-4 lg:text-xl font-sans">
          Having Python in my toolbox was a critical asset for my next adventures.</p>
        <p class="text-gray-800 leading-relaxed mb-1 lg:mb-4 lg:text-xl font-sans">Translating research tools into products requires a combination of skills,
          and programming is a critical aspect. <br />
          Once you realize you don't need to work around other's ideas, you can just push through and develop your own solutions, an entire world of
          opportunities opens in front of you.
        </p>
        <div>
          <a href="https://us21.list-manage.com/contact-form?u=f0d9bfa6188cdcc67890a07f6&form_id=23280542e88944b2a32bed276c724d1e">
            <button class="bg-blue-500 hover:bg-blue-400 text-white p-6 pl-8 before:align-middle before:inline-block before:content-aboutWhiteIcon before:h-6 before:w-6">
              Contact Me
            </button>
          </a>
          <a href="/hire-me">
            <button class="bg-emerald-500 hover:bg-emerald-400 text-white p-6 pl-8 before:align-middle before:inline-block before:content-booksWhiteIcon before:h-6 before:w-6">
              Hire Me!
            </button>
          </a>
        </div>
      </div>
    <div class="flex w-full justify-center items-center p-8">
      <img class="shadow-lg"
           src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/aquiles_carattino.jpeg"
           alt="Aquiles Carattino sailing in Portugal">
    </div>
  </div>
</div>
{% endblock %}