{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block meta_header %}
  <meta name="tags" content="{% for tag in article.tags %}{{ tag }}, {% endfor %}">
  <meta name="description" content="{{ article.description }}">
  <meta name="author" content="{{ article.author }}">
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:site_name" content="Python for the Lab">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="og:title" content="{{ article.title }}">
  <meta property="og:description" content="{{ article.description }}">
  <meta property="og:image" content="{{ article.image }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="twitter:title" content="{{ article.title }}">
  <meta property="twitter:description" content="{{ article.description }}">
  <meta property="twitter:image" content="{{ article.image }}">
  <meta name="twitter:creator" content="@aquicarattino">

{% endblock %}
{% block head_scripts %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/prism.css"/>
{% endblock %}

{% block body %}
  <header class="relative bg-gray-800 md:h-80 lg:flex h-64">
    <div class="lg:flex-col lg:lg:w-[880px] lg:ml-16">
      <nav class="lg:pr-8 w-full lg:pt-4">
        <div class="flex p-3 items-center justify-between">
          <a class="flex-none" href="{{ SITEURL }}">
            <img id="site-logo" class="h-12"
                 src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/logo-red.svg"/>
          </a>
          <div id="menu_sm"
               class="pr-0 pl-4 grow hidden lg:block">
            {% include "nav_menu.html" %}
          </div>
          <div class="">
            <button id="menu-button" class="z-50 border-1 border-red-500 lg:hidden">
              <img id="hamburger" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/hamburger.svg"
                   class="h-8 w-8"/>
            </button>
          </div>
        </div>
        <div id="menu"
             class="pr-0 pb-8 mx-0 pt-8 pl-12 basis-full grow bg-white z-30 min-w-full hidden drop-shadow-lg border-b-8 border-b-red-700">
          {% include "index_wide_menu.html" %}
        </div>
      </nav>
      <div class="md:flex text-gray-200 lg:min-w-full lg:pt-4 pb-8">
      </div>
    </div>
    <div class="hidden lg:block lg:w-72 ml-1 pl-2 mr-2 pt-4 w-72">
      <div class="mb-8 shadow-2xl">
        <form action="#" class="w-full pr-8 pt-4 text-xs">
          <label for="search" class="relative block">
            <img class="absolute w-4 h-4 top-1/2 -translate-y-1/2 left-3"
                 src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/search.svg">
            <input id="search" data-stork="sitesearch" type="text"
                   class="text-gray-800 pl-10 bg-white py-2 placeholder-gray-500 w-full border border-gray-600"
                   placeholder="Type to Search">
          </label>
        </form>
        <div data-stork="sitesearch-output"></div>
      </div>
      <div class="py-2 shadow-2xl">
        <div class="text-gray-300">
          <span class="font-semibold text-sm">Get all the information directly to your inbox.</span>
        </div>
        <div id="mc_embed_signup" class="">
          <form
              action="https://pythonforthelab.us21.list-manage.com/subscribe/post?u=f0d9bfa6188cdcc67890a07f6&amp;id=8a0ca536e8&amp;f_id=00dfebe6f0"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
              class="validate my-3 md:max-w-lg"
              target="_self" novalidate="">
            <div class="field-wp">
              <input type="email" name="EMAIL" placeholder="Your E-Mail" id="mce-EMAIL" required=""
                     value=""
                     class="required email bg-white ring-red-500 p-2 w-full md:max-w-2/3">
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              /* real people should not fill this in and expect good things - do not remove this or risk
              form
              bot
              signups */
              <input type="text" name="b_f0d9bfa6188cdcc67890a07f6_8a0ca536e8" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                   class="bg-emerald-500 hover:scale-105 focus:bg-emerald-300 text-white p-4 mt-2 w-full md:max-w-2/3">
          </form>
          <span class="text-gray-400 text-xs">Unsubscribe any time.</span>
        </div>
      </div>
    </div>
  </header>

  <div class="lg:mx-auto lg:flex lg:ml-16">

    <div id="col-left" class="md:content-stretch lg:w-[880px]">
      <div class="relative text-gray-800 mx-2 z-40">
        <div class="md:-mt-32 lg:-mt-56 -mt-36 lg:mb-8">
          <img src="{{ article.image }}" alt="{{ article.title }}" class="shadow-md lg:shadow-lg"/>
        </div>
        <h1 class="font-serif font-extrabold text-4xl leading-tight pb-2">{{ article.title }}</h1>
        <div class="font-sans font-bold text-xl">{{ article.description }}</div>
        <div class="text-sm text-gray-400">
          <span
              class="inline-block before:inline-block before:mx-1 before:align-middle before:h-4 before:w-4 before:content-profile mr-1 pr-1 py-1">{{ article.author }}</span>
          <span
              class="inline-block before:inline-block before:mx-1 before:align-middle before:h-4 before:w-4 before:content-calendar mr-1 pr-1 py-1">{{ article.date.strftime('%Y-%m-%d') }}</span>
          <span
              class="inline-block before:inline-block before:mx-1 before:align-middle before:h-4 before:w-4 before:content-tag mr-1 pr-1 py-1">
            {% for tag in article.tags %}
              <span class="bg-gray-300 rounded text-white px-0.5 mr-0.5 ">{{ tag }}</span>
            {% endfor %}
        </span>
        </div>
      </div>

      <div class="article-content mt-4 mx-2">
        <main>
          {{ article.content }}
        </main>
      </div>
      <div class="flex border-t text-lg px-4 pt-6 lg:pt-12 lg:mb-12">
        <div
            class="before:inset-y-1/2 before:inset-x-1 before:content-article before:h-6 before:w-6 before:inline-block before:align-middle"></div>
        <div class="pl-8 text-gray-600 font-light">Article written by {{ article.author }}</div>
      </div>

      <div class="pt-4 pb-6 md:px-4 border-t border-gray-200 justify-center">
        <div class="bg-gray-300 font-serif text-2xl md:text-4xl text-center md:p-6 p-2">Join our newsletter!</div>
        <div class="py-4">If you liked the content, sign up to never miss an update.
        </div>
        <div id="mc_embed_signup" class="">
          <form
              action="https://pythonforthelab.us21.list-manage.com/subscribe/post?u=f0d9bfa6188cdcc67890a07f6&amp;id=8a0ca536e8&amp;f_id=00dfebe6f0"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
              class="validate my-3 md:flex md:max-w-lg"
              target="_self" novalidate="">
            <div class="field-wp">
              <input type="email" name="EMAIL" placeholder="Your E-Mail" id="mce-EMAIL" required=""
                     value=""
                     class="required email bg-gray-100 ring-red-500 p-4 w-full md:max-w-2/3">
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              /* real people should not fill this in and expect good things - do not remove this or risk
              form
              bot
              signups */
              <input type="text" name="b_f0d9bfa6188cdcc67890a07f6_8a0ca536e8" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                   class="bg-emerald-500 hover:scale-105 w-full focus:bg-emerald-300 text-white p-4 mt-2 md:ml-4 md:mt-0 md:w-40">
          </form>
        </div>
      </div>

      {% if article.similar_posts %}
        <div class="lg:mt-6">
          <h2 class="font-serif font-semibold text-2xl leading-tight">Related Articles</h2>
          <div>
            {% for similar in article.similar_posts %}
              <div class="group border-b border-b-gray-400 mb-4">
                <a href="{{ SITEURL }}/{{ similar.url }}" class="text-gray-700 hover:text-gray-900">
                  <div class="sm:flex">
                    <div class="flex-none sm:w-64 md:w-96">
                      <img class="px-2 pb-4" src="{{ similar.image }}"
                           alt="Illustration of {{ similar.title }}">
                    </div>
                    <div class="px-4 sm:flex-auto">
                      <div class="text-gray-600 text-xs p-0.5">{{ similar.date.strftime('%Y-%m-%d') }}</div>
                      <h3 class="font-serif leading-tight text-lg font-semibold pb-2">{{ similar.title }}</h3>
                      <div class="font-sans ">{{ similar.summary|striptags }}</div>
                      <div class="p-2 inline-block font-sm"><span
                          class="after:transition-all after:ease-in-out hover:after:translate-x-2.5 after:inline-block after:translate-x-1.5 after:w-5 group-hover:after:content-arrowBlue">Read more</span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <div class="px-2 lg:text-center lg:mt-8">
        <h4 class="text-2xl leading-tight lg:mx-auto lg:text-4xl">Share your thoughts with us!</h4>
        <div class="comments">
          <!-- Comment -->
          <script src="https://utteranc.es/client.js"
                  repo="PFTL/pftl_discussions"
                  issue-term="pathname"
                  label="Comment"
                  theme="github-light"
                  crossorigin="anonymous"
                  async>
          </script>
        </div>
      </div>
    </div>
    <div id="col-right" class="lg:w-72">
      <div class="bg-gray-300 place-items-center mt-3 p-6">
        <h3 class="font-serif text-2xl text-center mb-2 font-semibold mx-auto lg:text-xl">Support Us</h3>
        <p class="font-serif lg:text-sm leading-tight mb-2">If you like the content of this website, consider buying a
          copy of
          the book
          <strong>Python For The
            Lab</strong></p>
        <a href="{{ SITEURL }}/books">
          <button class="bg-emerald-500 hover:scale-105 focus:bg-emerald-300 text-white p-4 mt-2 w-full md:max-w-2/3">
            Check out the books
          </button>
        </a>
      </div>

      <div class="mt-3 border border-gray-400  place-items-center">
        {% if article.series %}
          <h3 class="bg-gray-300 font-serif text-2xl text-center py-4">{{ article.series.name }} series</h3>
          <ol class="mt-4">
            {% for art in article.series.all %}
              <li class="mx-4 p-3 border-b border-b-gray-400 {% if art == article %}border-b-2 border-b-emerald-400 {% endif %}">
                <a href="{{ SITEURL }}/{{ art.url }}" class="font-lg leading-tight hover:font-bold">
                  <div>{{ art.title }}</div>
                  <div class="font-light text-gray-600 text-sm">
                    by {{ art.author }}, {{ art.date.strftime('%Y-%m-%d') }}</div>
                </a>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <h3 class="bg-gray-300 font-serif text-2xl lg:text-xl lg:font-bold text-center py-4">Latest Articles</h3>
          <ul class="mt-4">
            {% for art in articles[:10] %}
              <li class="mx-4 p-3 border-b border-b-gray-400">
                <a href="{{ SITEURL }}/{{ art.url }}" class="font-lg leading-tight hover:font-bold">
                  <div>{{ art.title }}</div>
                  <div class="font-light text-gray-600 text-sm">
                    by {{ art.author }}, {{ art.date.strftime('%Y-%m-%d') }}</div>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>


{% endblock %}