{% extends 'base.html' %}
{% block title %}Python courses for scientists, from instrumentation to data analysis.{% endblock %}
{% block meta_header %}
<meta name="description"
      content="Python workshops to level up your programming skills. We work with small groups in hands-on courses to speed up your development journey.">
<link rel="canonical" href="{{ SITEURL }}/courses">
{% endblock %}

{% block body %}
<header class="relative bg-gray-800 md:h-32 lg:flex h-16">
    <div class="lg:flex-col lg:lg:w-[880px] lg:ml-16">
        <nav class="lg:pr-8 w-full lg:pt-4">
            <div class="flex p-3 items-center justify-between">
                <a class="flex-none" href="{{ SITEURL }}">
                    <img id="site-logo" class="h-12"
                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/logo-red.svg"/>
                </a>
                <div id="menu_sm"
                     class="pr-0 pl-4 z-50 grow hidden lg:block">
                    {% include "nav_menu.html" %}
                </div>
                <div class="">
                    <button id="menu-button" class="z-50 border-1 border-red-500 lg:hidden">
                        <img id="hamburger" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/hamburger.svg"
                             class="h-8 w-8"/>
                    </button>
                </div>
            </div>
            <div id="menu"
                 class="pr-0 pb-8 mx-0 pt-8 pl-12 basis-full grow bg-white z-50 min-w-full hidden drop-shadow-lg border-b-8 border-b-red-700">
                {% include "index_wide_menu.html" %}
            </div>
        </nav>
        <div class="md:flex text-gray-200 lg:min-w-full lg:pt-4 pb-8">
        </div>
    </div>
    <div class="hidden lg:block lg:w-72 ml-1 pl-2 mr-2 pt-4 w-72">
        <div class="mb-8 shadow-2xl">
            <form action="#" class="w-full pr-8 pt-4 text-xs">
                <label for="search" class="relative block">
                    <img class="absolute w-4 h-4 top-1/2 -translate-y-1/2 left-3"
                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/search.svg">
                    <input id="search" data-stork="sitesearch" type="text"
                           class="text-gray-800 pl-10 bg-white py-2 placeholder-gray-500 w-full border border-gray-600"
                           placeholder="Type to Search">
                </label>
            </form>
            <div data-stork="sitesearch-output"></div>
        </div>
    </div>
</header>


<div class="mt-4 md:mt-16 max-w-6xl mx-auto md:min-h-screen items-center lg:mb-16 mb-8">
    <h1 class="font-serif text-gray-800 text-6xl font-black py-16">Python Workshops</h1>
    <p class="mb-6 text-xl font-sans leading-tight">We offer different Python courses that adapt to your needs. From
        1-day tailored workshops to 3 full days to bring the entire team to the same page.</p>
    <p class="mb-6 text-xl font-sans leading-tight">All courses are face to face and they are offered at your location.
        <br/>
        If you prefer individualized coaching, mentoring, and consultancy, please check the options about <a
                href="/hire-me" class="text-teal-700 underline">hiring me</a>.
    </p>
    <p class="mb-3 text-sm text-gray-600">All the prices shown below do not include travel and accommodation.
        We offer <span class="font-bold">academic discounts</span>, ask us about them!</p>

    <!-- the courses! -->
    <div class="md:grid md:grid-cols-2 md:gap-x-4 gap-y-4">
        <div class="bg-gradient-to-br p-1 from-red-500 to-gray-800 via-red-700 rounded-lg shadow-lg">
            <div class="bg-white flex h-full flex-col justify-between p-3 rounded-lg">
                <div>
                    <h2 class="font-bold text-2xl tracking-tight pb-0">Python for the Lab</h2>
                    <div class="text-sm text-gray-600 mb-4">The original workshop</div>
                    <div class="flex flex-wrap text-sm mb-6">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"/>
                            </svg>
                            On location
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
                            </svg>
                            4 to 8 participants
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"/>
                            </svg>
                            3 full days
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z"/>
                            </svg>
                            Certificate provided
                        </div>
                    </div>

                    <div class="mb-4"><p class="mb-2">This is a complete introduction to using Python for controlling
                        instruments.
                        From the
                        initial
                        communication through USB to abstracting use cases.</p>
                        <p class="mb-2">We cover how to create responsive User Interfaces (UI) using Qt, how to save
                            data,
                            and
                            how
                            to perform
                            some real-time analysis.</p>
                        <p>There is room to customize the workshop to your needs. For example, we can cover version
                            control,
                            or
                            specific communication protocols.</p>
                    </div>
                </div>
                <div>
                    <a href="https://us21.list-manage.com/contact-form?u=f0d9bfa6188cdcc67890a07f6&form_id=23280542e88944b2a32bed276c724d1e">
                        <button class="transition ease-in-out delay-50 duration-300 hover:scale-110 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Contact me
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-gradient-to-br p-1 from-emerald-500 to-gray-800 via-emerald-700 rounded-lg shadow-lg">
            <div class="bg-white flex h-full flex-col justify-between p-3 rounded-lg">
                <div>
                    <h2 class="font-bold text-2xl tracking-tight pb-0">Advanced Python for the Lab</h2>
                    <div class="text-sm text-gray-600 mb-4">For those with 2+ years of experience</div>
                    <div class="flex flex-wrap text-sm mb-6">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"/>
                            </svg>
                            On location
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
                            </svg>
                            4 to 6 participants
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"/>
                            </svg>
                            3 full days
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z"/>
                            </svg>
                            Certificate provided
                        </div>
                    </div>

                    <div class="mb-4"><p class="mb-2">This workshop is especially designed for people with at least 2
                        years of
                        experience developing software. We go straight into the hardest topics, such as sharing data
                        between
                        processes, documenting code, and publishing packages.</p>
                        <p class="mb-2">This workshop offers the space to sort through the challenges people have
                            already faced,
                            while focusing on best practices. From data storage and retrieval, to network
                            communication.</p>
                        <p class="mb-2">We review some strong patterns, such as the use of decorators, we dive into
                            object-oriented
                            Python, and
                            explore other patterns that may be useful.</p>
                        <p>It is <span class="font-bold text-sky-800">important</span> that all participants share the
                            same
                            level of
                            programming experience, so no one is left behind.</p>
                    </div>
                </div>
                <div>
                    <a href="https://us21.list-manage.com/contact-form?u=f0d9bfa6188cdcc67890a07f6&form_id=23280542e88944b2a32bed276c724d1e">
                        <button class="transition ease-in-out delay-50 duration-300 hover:scale-110 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Contact me
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-gradient-to-br p-1 from-teal-500 to-gray-800 via-teal-700 rounded-lg shadow-lg">
            <div class="bg-white flex h-full flex-col justify-between p-3 rounded-lg">
                <div>
                    <h2 class="font-bold text-2xl tracking-tight pb-0">Introduction to Python for Scientists</h2>
                    <div class="text-sm text-gray-600 mb-4">Especially designed for those with little experience</div>
                    <div class="flex flex-wrap text-sm mb-6">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"/>
                            </svg>
                            On location
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
                            </svg>
                            6 to 10 participants
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"/>
                            </svg>
                            3 half-days
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z"/>
                            </svg>
                            Certificate provided
                        </div>
                    </div>

                    <div class="mb-4"><p class="mb-2">We have designed this workshop for those who have some programming
                        experience
                        but want to solidify their Python skills.</p>
                        <p class="mb-2">It is an introduction to data processing, reading files, saving data. Get used
                            to the
                            syntax
                            of Matplotlib, and explore Spyder and Jupyter.</p>
                        <p class="mb-2">Depending on the affinity of the group, we can explore version control system,
                            such as
                            Git
                            and Github, or dive into more complex Python patterns, such as Object-Oriented
                            programming.</p>
                        <p>A <span class="font-bold text-sky-800">basic</span> understanding of programming and computer
                            literacy is
                            required to follow the workshop.</p>
                    </div>
                </div>
                <div>
                    <a href="https://us21.list-manage.com/contact-form?u=f0d9bfa6188cdcc67890a07f6&form_id=23280542e88944b2a32bed276c724d1e">
                        <button class="transition ease-in-out delay-50 duration-300 hover:scale-110 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Contact me
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-gradient-to-br p-1 from-yellow-500 to-gray-800 via-yellow-700 rounded-lg shadow-lg">
            <div class="bg-white flex h-full flex-col justify-between p-3 rounded-lg">
                <div>
                    <h2 class="font-bold text-2xl tracking-tight pb-0">Custom Python Workshop</h2>
                    <div class="text-sm text-gray-600 mb-4">Tailored to your company's needs</div>
                    <div class="flex flex-wrap text-sm mb-6">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"/>
                            </svg>
                            On location
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
                            </svg>
                            up to 15 participants
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"/>
                            </svg>
                            Custom
                        </div>
                        <div class="flex items-center ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-4 h-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z"/>
                            </svg>
                            Certificate provided
                        </div>
                    </div>

                    <div class="mb-4"><p class="mb-2">Do you have a group and want to get them to the same page, but the
                        contents of
                        the standard workshops don't fit your requirements?.</p>
                        <p class="mb-2">We are able to design custom workshops for varied audiences. We focus on Python
                            for
                            Instrument control, but we are flexible regarding the scope. If it falls within our
                            expertise, we
                            will
                            be more than happy to hear about your challenges.</p>
                        <p class="mb-2">A series of workshops (for example at a university or research institute) will
                            be much
                            more
                            cost-efficient than a one-off project.</p>
                        <p>Use <span class="font-bold text-sky-800">the link</span> below to get in touch and discuss
                            what we
                            can do together.</p>
                    </div>
                </div>
                <div>
                    <a href="https://us21.list-manage.com/contact-form?u=f0d9bfa6188cdcc67890a07f6&form_id=23280542e88944b2a32bed276c724d1e">
                        <button class="transition ease-in-out delay-50 duration-300 hover:scale-110 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Contact me
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}