<ul
        class="w-full font-semibold text-3xl lg:flex lg:pl-16 lg:text-white md:text-base md:font-medium z-50">
    <li class="nav-item md:grow align-middle ">
        <a href="{{ SITEURL }}/blog"
           class="md:pt-6 md:pb-2 hover:border-b-2 hover:border-red-400">
            <span class="">Blog</span>
        </a>
    </li>
    <li class="nav-item md:grow align-middle ">
        <a href="{{ SITEURL }}/courses"
           class="md:pt-6 md:pb-2 hover:border-b-2 hover:border-red-400">
            <span class="">Courses</span>
        </a>
    </li>
    <li class="nav-item md:grow align-middle ">
        <a href="{{ SITEURL }}/hire-me"
           class="md:pt-6 md:pb-2 hover:border-b-2 hover:border-red-400">
            <span class="">Hire Me</span>
        </a>
    </li>
    <li class="nav-item md:grow align-middle ">
        <a href="{{ SITEURL }}/books"
           class="md:pt-6 md:pb-2 hover:border-b-2 hover:border-red-400">
            <span class="">Books</span>
        </a>
    </li>
    <li class="nav-item md:grow align-middle ">
        <a href="{{ SITEURL }}/about"
           class="md:pt-6 md:pb-2 hover:border-b-2 hover:border-red-400">
            <span class="">About</span>
        </a>
    </li>
    <li class="nav-item md:grow align-middle ">
        <a href="https://github.com/PFTL/pftl_discussions/discussions"
           class="md:pt-6 md:pb-2 hover:border-b-2 hover:border-red-400">
            <span class="">Forum</span>
        </a>
    </li>
    <li class="pt-4 md:hidden">
        <form action="#" class="w-full pr-8">
            <label for="search" class="relative block">
                <img class="absolute w-4 h-4 top-1/2 -translate-y-1/2 left-3"
                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/images/search.svg">
                <input id="search" data-stork="sitesearch" type="text"
                       class="text-base placeholder-gray-500 pl-10 py-4 w-full shadow-sm ring-1 ring-inset ring-gray-300 focus:border-2 focus:border-red-500 focus:ring-red-500"
                       placeholder="Type to Search">
            </label>
        </form>
        <div data-stork="sitesearch-output"></div>
    </li>
</ul>